@import "tailwindcss";

@theme {
  --color-primary: #000080;
}
@layer base {
  body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
}